.films {
	display: inline;
	max-width: 11.875em;
	max-height: 12.5em;
}

.col-md-10 {
	color: blue;
	font: helvetica, sans-serif;
}

.button {
	background-color: white;
	max-width: 2.5em;
	max-height: 2em;
	border: solid, black, .125 em;
	color: black;
}

.bio {
	font: helvetica, sans-serif;
	font-size: 1em;
}

.box {
	display: block;
	box-sizing: border-box;
	margin-left: 50px;
}

#fern {
	min-height: 12.5em;
}

#ferngully {
	min-height: 12.5em;
	min-width: 16.75em;
}

#poet {
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (min-width: 1024px) {
	body {
		font-size: 100%;
	}
}

@media screen and (min-width: 980px) {
	body {
		font-size: 100%;
	}
}

@media screen and (min-width: 480px) {
	body {
		font-size: 100%;
	}
}


.main{ 
    padding:20px; 
    font-family: 'Helvetica', serif; 
    box-shadow: 5px 5px 7px 5px #888888; 
      
} 
.main h1{ 
    font-size: 40px; 
    text-align:center; 
    font-family: 'Helvetica', serif; 
      
} 
input{ 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    font-size: 20px; 
    padding: 12px 20px; 
    margin: 8px 0; 
    border: none; 
    border-bottom: 2px solid #767474; 
} 
input[type=submit] { 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    background-color: #767474; 
    border: none; 
    color: white; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    border-radius: 10px; 
} 
