<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trailwayz</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="col-md-2">
            <div class="col-md-10"> <h1> Trailwayz </h1>
        </div>
    </div>
</div>
    </header>

    <section>
        <div class="row">
            <img class="col-sm-12 col-lg-4" src="https://static.rootsrated.com/image/upload/s--7y8DUDAz--/f_auto,q_auto,t_rr_large_natural/al56d3lnwyv0074yhsvy.jpg">
            
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-2">
            <div class="col-md-10">
            <h3>Destination Travel Packages</h3>
            </div>
            </div>
               
      <section>
            <div class="row">
                    <div class="column">
                        <p><a href="https://www.snorkelingdives.com/?type=SNORKELING&continent=Caribbean">
                        <img src="https://i.ytimg.com/vi/G5lW3XJ-_d4/maxresdefault.jpg" alt="Image result for caribbean snorkeling" width="450" height="253" style=></a>
                        <p>Caribean Snorkeling</p></div>
                    <div class="column"></div>
                        <p><a href="https://www.carnival.com/#?dest=m&layout=grid&numAdults=2&pageNumber=2&pageSize=8&showBest=true&sort=fromprice&useSuggestions=true">
                        <img src="https://djxhh4yqhymvs.cloudfront.net/Facility/5584/5ba7a1aa-ea51-4f06-b132-df1468eaccb8@500px.jpg" alt="Image result for carnival cruise" width="450" height="233" style=></a>
                        <p>Carnival Cruise Line</p></div>
                    <div class="column"></div>
                        <p><a href="https://disneycruise.disney.go.com/">
                        <img src="https://image.slidesharecdn.com/disneyy-170219075421/95/disney-cruise-line-1-638.jpg?cb=1487495093" alt="Image result for disney cruise line" width="450" height="253" style=></a>
                        <p>Disney Cruise Line</p></div>
                    <div class="column"></div>
                        <p><a href="https://www.goaheadtours.com/tours/europe-tours/germany-tours?utm_source=google&utm_medium=cpc&utm_campaign=US_Europe_Germany_Tier_3_Exact&utm_group=Germany_Vacation&utm_term=germany%20vacation&utm_content=236174496920&mt=e&utm_device=c&invsrc=g.1403&gclid=Cj0KCQjws7TqBRDgARIsAAHLHP7IZOcs3DBNbd-rLKB2NNtVEbUX8o_eeTXeaAKfkFz5ZFG8-fJt1QgaAr1cEALw_wcB&gclsrc=aw.ds">
                        <img src="https://i.ytimg.com/vi/Rz0MG8ITLpk/maxresdefault.jpg" alt="Image result for germany travel" width="450" height="253" style=></a>
                        <p>Germany Tours</p></div>
                    <div class="column"></div>
                        <p><a href="https://www.go-today.com/italy-vacations.aspx">
                        <img src="https://i.ytimg.com/vi/4W2c7JJdZQY/maxresdefault.jpg" alt="Image result for italy" width="450" height="253" style=></a>
                        <p>Italy Travel Deals</p></div>
                    <div class="column"></div>
                        <p><a href="https://vacations.legoland.com/california/booking/package/search.html">
                        <img src="https://www.themeparkinsider.com/photos/images/IMG_6233.JPG" alt="Image result for legoland california" width="450" height="338" style=></a>
                        <p>Legoland Vacations California</p></div>
            </div>
        </section>



    <footer>
        <a href="https://twitter.com/Trailwayz2"><img src="images/twitter.png"></a>
        <a href="https://www.facebook.com/Trailwayz2/"><img src="images/fb.png"></a>
        <a href="https://www.instagram.com/trailwayz/"><img src="images/insta.png"></a>
    </footer>
</body>
</html>