<h1>Add a new customer!</h1>
<form action="/contact" method="POST">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="email">Email: </label>
        <input type="text" name="email">
    </div>
    <div>
        <label for="destination">Destination </label>
        <input type="text" name="destination">
    </div>
    <div>
        <label for="phone">Phone Number </label>
        <input type="text" name="phone">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<br>
{{#each customer}}
<li>{{name}}</li><br></br>
<li> {{email}}</li><br></br>
<li>{{destination}}</li><br></br>
<li>{{phone}}</li>
{{/each}}
</ul>
